<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<!-- this binds selectedHero from here(this heroes.component) to the hero variable from of hero-detail within hero-details HTML selector
Now hero-detail does the editing and hero does controle the use of hero from hero-detail -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<!-- below was shifted to heroes-detail and selectedHero was replaced with hero -->
<!-- <div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div> -->